__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

*.pth
*.pt
*.onnx
*.mar
model/data/CUB_200_2011/
serving/model_store/*.mar

.env
*.log

.venv/
venv/

.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

*.tfstate
*.tfstate.backup
.terraform/
infra/terraform/.terraform.lock.hcl

data/
minio-data/
postgres-data/
es-data/
grafana-data/

.DS_Store
Thumbs.db

wandb/
runs/
